/* CSS GERAL*/

*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Caveat', cursive;
}

header {
    background-image: linear-gradient(to right top, #2e0537, #480c4d, #641363, #831979, #a41f8e);
}

.navbar-brand {
    font-size: 2rem;
    color: white;
    font-family: 'Emilys Candy', cursive;
    text-shadow: -3px 1px 4px rgba(0,0,0,0.6);    
}

.navbar-brand:hover {
    color: #C614A8;
    
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
}

.nav-link:hover {
    color: #C614A8;
}

.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(red, green, blue);
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(red, green, blue);
    color: red;
    border-radius: 60px;
    font-weight: 700;
}

.principal {
    background: url(img/fundo_valorant.webp)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.principal h1 {
    font-size: 4rem;
    font-weight: 700;
    
}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: pink;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover{
    background-color: red;
    transition: 0.5s;
}

h1 {
    font-weight: 700;
}
.card:hover{
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.91);
    -webkit-box-shadow: 1px 0px 8px 3px rgba(0,0,0,0.91);
    -moz-box-shadow: 1px 0px 8px 3px rgba(0,0,0,0.91);
    transition: 0.5s;
    cursor: pointer;
}

.apple{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("...")no-repeat ;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.novidades {
    background: black;
    color: white;
}

.novidades h5{
    color:#C614A8;
}

.novidades::placeholder{
    color:white;
}

.novidades p {
    margin: 0;
}

.novidades p:hover {
    color: #C614A8;
    cursor: pointer;
}

.fa{
    cursor: pointer;
    padding-right: 5px;
}

footer {
    background-color: #000;
}

#direitos:hover {
    color: white;
    cursor: default;
}

/* CSS LOGIN*/

.modal-title {
    text-align: center;
}