/* CSS GERAL*/

*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

#corpo {
    font-family: 'Caveat', cursive;
}

#cabecario {
    background-image: linear-gradient(to right top, #2e0537, #480c4d, #641363, #831979, #a41f8e);
}

/* CSS DO MENU*/
#menu-logo {
    font-size: 2rem;
    color: white;
    font-family: 'Emilys Candy', cursive;
    text-shadow: -3px 1px 4px rgba(0,0,0,0.6);    
}

#menu-opcao{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
}

#menu-drop{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
}

#txtBuscaProduto {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid black;
}

#botao-busca{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: #c077b4;
    color: white;
    border-radius: 40px;
    font-weight: 700;
}

/* CSS CORPO GERAL*/

#quadro-inicial {
    background: url(img/fundo.webp)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 10% 60%;
    width: 100%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#quadro-inicial #titulo, #tituloProduto, #precoProduto {
    font-size: 4rem;
    font-weight: 700;
    
}

@media screen and (max-width: 450px) and (min-width: 0px) {
    #quadro-inicial {
        background-position: 5% 50%;
    }
    
    #quadro-inicial #espaco-texto {
        padding-top: 0% !important; 
    }

    #titulo {
        padding-top: 35% !important;
        margin-bottom: 0% !important;
    }
}

#botao-vitrine{
    height: 45px;
    width: 50%;
    outline: none;
    border: none;
    background-color: #c077b4;
    color: white;
    font-weight: auto;
    border-radius: 40px;
    text-align: center;
}

@media screen and (max-width: 450px) and (min-width: 0px) {
    #botao-vitrine {
        width: 100% !important;
    }
}

#prod-card:hover{
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.91);
    -webkit-box-shadow: 1px 0px 8px 3px rgba(0,0,0,0.91);
    -moz-box-shadow: 1px 0px 8px 3px rgba(0,0,0,0.91);
    transition: 0.5s;
    cursor: pointer;
}

#prod-imagem {
    max-width: 100%;
    height: 80%;
}

@media screen and (max-width: 450px) and (min-width: 0px) {
    #prod-imagem {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 450px) and (min-width: 0px) {
    #sobre-produtos {
        text-align: center;
    }

    #sobre-produtos #titulo{
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
}

#pre-rodape {
    background: black;
    color: white;
}

#pre-rodape #titulo-pre-rodape{
    color:#C614A8;
}

#pre-rodape::placeholder{
    color:white;
}

#pre-rodape p {
    margin: 0;
}

#pre-rodape p:hover {
    color: #C614A8;
    cursor: pointer;
}

@media screen and (max-width: 450px) and (min-width: 0px) {
    #pre-rodape{
        text-align: center;
    }

    #pre-rodape #titulo-pre-rodape{
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
}

@media screen and (max-width: 450px) and (min-width: 0px) {
    #contato {
        text-align: center;
    }

    #titulo-superior {
        margin-top: 10%;
    }
}

#redes-sociais{
    cursor: pointer;
    padding-right: 5px;
}

footer {
    background-color: #000;
}

#direitos:hover {
    color: white !important;
    cursor: default !important;
}

/* CSS LOGIN*/

#corpoModal1, #corpoModal2, #corpoModal3, #corpoModal4, #frm2, #frm1, #frm3, #frm4{
    background: linear-gradient(to right top, #2e0537, #480c4d, #641363, #831979, #a41f8e);
    color: white;
}

#titulo_do_cadastrar{
    padding-bottom: 0px;
    margin-bottom: 0;
}


#menu-logo:hover,#menu-opcao:hover,#menu-drop:hover,#menu-drop-opcao:hover, #modal #botao-modal:hover,
#botao-busca:hover,#botao-vitrine:hover,#redes-sociais:hover,#botao_de_cadastrar:hover{
    color: #a41f8e;
    transition: 0.5s;
}


@media screen and (max-width: 450px) and (min-width: 0px) {
    #caixa-1 {
        display: block !important;
    }
    
    #modal {
        display: block !important;
    }

    #myModal4 #botao-vitrine {
        margin-bottom: 3% !important;
    }
}

#modal #botao-modal{
    height: 45px;
    width: unset;
    outline: none;
    background-color: #c077b4;
    color: white;
    border-radius: 40px;
    text-align: center;
}

#modal #botao-cadastrar {
    height: 45px;
    width: auto !important;
    outline: none;
    background-color: #c077b4;
    color: white;
    font-weight: 700;
    border-radius: 40px;
    padding-top: 0px;
}

/*Em caso de erro nas functions, aplicar css nas classes abaixo*/
.errotxt {
    color:red;
    border: solid red 3px;
}

.errolbl {
    color:red;
    margin: 0%;
    padding: 0%;
}

/* CSS DA PAGINA BUSCA*/
#pag-busca #titulo, #pag-busca #produto-procurado {
    display: inline;
}