*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Caveat', cursive;
}

.navbar-brand {
    font-size: 2rem;
    color: black;
    font-family: 'Emilys Candy', cursive;
}

.navbar-brand:hover {
    color: black;
    
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
}

.nav-link:hover {
    color: black;
}

.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(red, green, blue);
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(red, green, blue);
    color: red;
    border-radius: 60px;
    font-weight: 700;
}

.main {
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}

.main h1 {
    font-size: 4rem;
    font-weight: 700;

}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: pink;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover{
    background-color: red;
    transition: 0.5s;
}

h1 {
    font-weight: 700;
}
.card:hover{
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.91);
    -webkit-box-shadow: 1px 0px 8px 3px rgba(0,0,0,0.91);
    -moz-box-shadow: 1px 0px 8px 3px rgba(0,0,0,0.91);
    transition: 0.5s;
}

.apple{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("...")no-repeat ;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.news {
    background: black;
    color: white;
}

.news::placeholder{
    color:white;
}

.news p {
    margin: 0;
}

.fa{
    cursor: pointer;
    padding-right: 5px;
}